{% include "header.html" %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>

<body>
    <form method="POST">
        <header> ADD CONTENT </header><br><br>
        <label for="ContentID">ContentID:</label><br>
        <input type="text" id="ContentID" name="ContentID"><br><br>
        
        
        <label for="CourseID">CourseID:</label><br>
        <input type="CourseID" id="CourseID" name="CourseID"><br><br>


        <label for="LecturerID">LecturerID:</label><br>
        <input type="LecturerID" id="LecturerID" name="LecturerID"><br><br>


        <label for="ContentType">ContentType:</label><br>
        <input type="ContentType" id="ContentType" name="ContentType"><br><br>


        <label for="ContentDescription">ContentDescription:</label><br>
        <input type="ContentDescription" id="ContentDescription" name="ContentDescription"><br><br>


        <label for="SectionName">SectionName:</label><br>
        <input type="SectionName" id="SectionName" name="SectionName"><br><br>


        <input type="submit" value="Login">
    </form>

    <form method = "GET">
        <br><br><br>
        <header> GET CONTENT </header><br><br>

        <label for="CourseID">CourseID:</label><br>
        <input type="CourseID" id="CourseID" name="CourseID"><br><br>
        
    </form>
</body>
{%endblock%}