<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Comp3161Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register_user') }}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('create_course') }}">Create Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('all_courses') }}"> Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('student_courses', student_id=Cur_User[0]) }}">Student Courses</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('lecturer_courses', lecturer_id=Cur_User[0]) }}">Lecturer Courses</a>
      </li>
        
      </ul>
    </div>
  </div>
</nav>